* {
  font-family: "Roboto";
}

body {
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

li p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 14px 89px 13px 89px;
}
.header_logo {
  font-family: "Shrikhand";
  padding: 0px 19px 0px 16px;
  margin: 0px;
}

.location {
  display: flex;
  justify-content: center;
  gap: 17px;
  background-color: #EAEAEA;
}
.location i {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.location_text {
  font-weight: 500;
  font-size: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 50px 20px;
  background-color: #F6F6F6;
}
.info_title {
  margin: 0px;
}
.info_title_text {
  font-size: 18px;
  font-weight: 300;
}

.button_content {
  display: flex;
  justify-content: center;
}
.button_content .button_menu {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  border: none;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button_content .button_text {
  font-size: 16px;
}

.functioning {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  margin-top: 20px;
}
.functioning_title {
  padding: 0px 20px;
}
.functioning_button {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.functioning_button_bloc {
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: 72px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.restaurant_list {
  display: flex;
  flex-direction: column;
  background-color: #EAEAEA;
  padding: 20px;
}
.restaurant_list_card {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.restaurant_list_title {
  font-size: 24px;
}
.restaurant_list_card_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 18px;
}
.restaurant_list_card_container a {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurant_list_content {
  background-color: white;
  border-radius: 15px;
}
.restaurant_list_content img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurant_list_content_text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.restaurant_list_content_text h3,
.restaurant_list_content_text p {
  margin: 0px;
}
.restaurant_list_content_title {
  font-size: 18px;
}
.restaurant_list_content_city {
  font-size: 17px;
  font-style: normal;
}
.restaurant_list_content_like {
  font-size: 21px;
  display: flex;
  align-items: center;
}
.restaurant_list_content_like .fa-solid {
  color: #9356DC;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 25px;
  gap: 16px;
  color: white;
}
.footer_logo {
  font-family: "Shrikhand";
  font-size: 18px;
  margin: 0;
}
.footer_list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 7px;
  margin: 0px;
}
.footer_list_item {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer_list_item i {
  width: 11.918px;
  height: 13px;
}/*# sourceMappingURL=style.css.map */