.button_content {
    display: flex;
    justify-content: center;
    & .button_menu {
        background: linear-gradient(#FF79DA,#9356DC);
        border-radius: 25px;
        width: 218px;
        height: 50px;
        border: none;
        color: white;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        
    }
    & .button_text {
        font-size: 16px;
    }

}

@media only screen and (min-width : 1440px){
    .button_content .button_menu {
        width: 271px;
        height: 41px;
    }
}