.btn_content {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    &_menu {
        @include linearGradient;
        @include shadow;
        border-radius: 25px;
        width: 186px;
        height: 50px;
        border: none;
        color: $text_color;
        transition: all 0.3s ease;
        &:hover{
            filter : brightness(110%);
            }
    }
}
.button_menu {
    @include linearGradient;
    @include shadow;
    border-radius: 25px;
    width: 218px;
    height: 50px;
    border: none;
    color: $text_color;
    transition: all 0.3s ease;
    &:hover{
    filter : brightness(110%);
    }
}
.button_text {
    font-size: 16px;

}

.card_new {
    @include shadow;
    position:absolute;
    top: 13px;
    right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $tertiary-color;
    width: 80px;
    height: 29px;
    border-radius: 2px;
    &_text {
        font-size: 14px;
        color: $text-new;
    }
}




@media only screen and (min-width : 1440px) {
    .btn_content {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        
    }
    .btn_menu {
        @include linearGradient;
        @include shadow;
        border-radius: 25px;
        width: 186px;
        height: 50px;
        border: none;
        color: $text_color;
        transition: all 0.3s ease;
        &:hover{
            filter : brightness(110%);
            }
    }
}
