.functioning {
    border: 3px solid salmon;
    display: flex;
    flex-direction: column;
    &_title{
        padding: 0px 20px;
        border: 2px solid green;
    }
    &_button{
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &_bloc{
            border: 3px solid blueviolet;
            display: flex;
            justify-content: center;
            width: 322px;
            margin: auto;
            height: 72px;
            align-items: center;
            border-radius: 20px;
        }
    }

}