.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 39px 20px 50px 20px;
    background-color: $menu-color;
    gap: 12px;
    &_title{
        margin: 0px;
        &_text {
            font-size: 18px;
            font-weight: 300;
            white-space: unset;
        }
    }
    
}

@media only screen and (min-width : 1440px) {
    .info_title {
        font-size: 40px;
    }
}