.location {
    display: flex;
    justify-content: center;
    gap: 17px;
    background-color: $location-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    & i {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    &_text {
        font-weight: 500;
        font-size: 16px;
    }
}

