.menu {
    width: auto;
    display:flex;
    flex-direction: column;
    & img {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
    &_list {
        display: flex;
        flex-direction: column;
        border-radius: 50px 50px 0px 0px;
        gap: 40px;
        background-color: $menu-color;
        z-index: 2;
        margin-top: -50px;
        &_title {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            padding: 32px 17px 0px;
            & h3 {
                margin: 0px;
                font-family: "Shrikhand";
                font-size: 28px;
                font-weight: 400;
                font-style: normal;
            }
        }
    }
    .heart {
        // border: 3px solid green;
        font-size: 21px;
        display: flex;
        align-items: center;
        .fa-solid {
            margin-right: -24px;
            font-size: 23px;
            color: transparent;
            background-image: linear-gradient($primary-color, $secondary-color);
            background-clip: text;
            opacity: 0;
            transition: 400ms;
        }
        &:hover .fa-solid {
            opacity: 1;
        }
         &:hover .fa-regular {
            opacity: 0;
        }
    }
    &_entree {
        // border: 2px solid blue;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;
        padding: 0px 17px 0px;
        &_title {
            border-bottom: 3px solid $tertiary-color;
            width: 47px;
        }
        & h3 {
            margin: 0px;
        }
        
        &_buttons {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            &_button {
                display: flex;
                justify-content: space-between;
                border: none;
                border-radius: 15px;
                background-color: white;
                box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
                overflow: hidden;
                &:hover {
                    .checkbox {
                        margin-right: 0;
                    }
                }
            }
            &_title {
                display: flex;
                flex-direction: column;
                padding: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                h4 {
                    font-size: 18px;
                    font-weight: 500;
                    font-style: normal;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            & span {
                font-size: 15px;
                font-weight: 700;
                display: flex;
                align-items: end;
                padding-bottom: 15px;
                padding-right: 15px;
                margin-left: auto;
            }
            .fa-check {
                background-color: white;
                border-radius: 15px;
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #99E2D0;

            }
            .checkbox {
                background-color: #99E2D0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0px 15px 15px 0px;
                width: 59px;
                margin-right: -60px;
                transition: .3s ease-in-out ;
            }
            
        }
    }

}


@media only screen and (min-width : 1440px) {
    .menu {
        width:auto;
        display: flex;
        flex-direction: column;
        & img {
            height: 380px;
            object-fit: cover;
        }
        &_list {
            justify-content: center;
            margin-right: 193px;
            margin-left: 193px;
            border-radius: 50px 50px 0px 0px;
            z-index: 2;
            margin-top: -50px;
            &_title {
                justify-content: center;
                gap: 24px;
            }
        }
        &_entree {
            padding: 0px 210px 0px;
        }
    }

}









