.restaurant_list {
    display: flex;
    flex-direction: column;
    background-color: $location-color;
    padding: 20px;
    &_card {
        display: flex;
        justify-content:flex-end;
        padding: 10px 20px;

    }
    &_title {
        font-size: 24px;
    }
    &_card_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 18px;
        & a {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &_content{
        background-color: $text_color;
        position: relative;
        border-radius: 15px;
        & img {
            width: 100%;
            height: 231px;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }
        
        &_text{
            display: flex;
            flex-direction: column;
            margin-right: auto;
            
            & h3, 
            p {
                margin: 0px;
            }
        }
        &_title {
            font-size: 18px;
        }
        &_city {
            font-size: 17px;
            font-style: normal;
        }
        
    }

}
.heart {
    font-size: 21px;
    display: flex;
    align-items: center;
    .fa-solid {
        margin-right: -24px;
        font-size: 23px;
        color: transparent;
        background-image: linear-gradient($primary-color, $secondary-color);
        background-clip: text;
        opacity: 0;
        transition: 400ms;
    }
    &:hover .fa-solid {
        opacity: 1;
    }
     &:hover .fa-regular {
        opacity: 0;
    }
}
////**** Media Query ****///

@media only screen and (min-width : 1440px) {
    .restaurant_list {
        padding: 0px 180px 30px 180px;
        gap: 28px;
        align-items: flex-start;
        &_card_container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 100px;
            grid-row-gap: 50px;
            width: 100%;
        }
    }



}