.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    &_logo {
        display: flex;
        justify-content: center;
        font-family: $secondary-font;
        padding: 14px 89px 13px 89px;
        margin: 0px;
    }
}
///*** Header Menu ***///
.header_menu {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}
.header_container {
    padding: 14px 89px 13px 17px;
    gap: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    & h1 {
        padding: 0px;
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
    }
    & a {
        padding: 10px;
    }
    &_header_logo{
        padding: 0;
    }
    & i {
        font-size: 24px;
    }
}


@media only screen and (min-width : 375px){
    .header_container {
        gap: 42px;
        
    }
}

@media only screen and (min-width : 1440px){
    .header_container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        h1 {
            margin: auto;
        }
    }
}