.header {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 14px 89px 13px 89px;
    &_logo {
        font-family: $secondary-font;
        padding: 0px 19px 0px 16px;
        margin: 0px;
    }
}
